<% include partials/header.ejs %>
<div class="wrapper">
    <h1 class="text-center text-warning">Sorry, nothing for '<%=searchTerm%>'</h1>
    <p class="text-center"><a class="text-success" href="/">GO BACK</a></p>
</div>
<% include partials/footer.ejs %>